/* font-family: 'Big Shoulders Stencil Text', cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    min-height: 100vh;
    background: linear-gradient(to right, #5c258d, #4389a2);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
p {
    opacity: 0.9;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.glass {
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right top,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to right top,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.user img {
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #5c258d;
}

.link {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.link h2 {
    padding: 0 1rem;
}


.pro {
    background: linear-gradient(to top left, #5c258d, #4389a2);
    border-radius: 1rem;
    padding: 0.5rem;
}

.link img,
.pro img,
.book img {
    height: 40px;
}


.books {
    flex: 2;
    padding-right: 1rem;
    margin: 1rem;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.books::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 8px;
    background-color: #4389a2;
}

.status {
    padding-bottom: 1rem;
}

.status input {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.1));
    border-radius: 2rem;
    border: none;
    padding: 3px;
    padding-left: 6px;
    width: 50%;
    outline: none;

}

.status input:focus {
    border-radius: 2rem;
    box-shadow: 2px 2px 8px #5c258d;

}

.book {
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.4));
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(92, 37, 141, 0.4);
    /* justify-content: space-between; */
    align-items: center;
}

.book img {
    margin: 0.5rem;
}

.book-info {
    flex: 1;
    /* display: flex; */
}


.titles {
    display: flex;
    align-items: center;
}




.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    position: absolute;

}

.first {
    top: 3%;
    left: 7.5%;
}

.secound {
    bottom: 3%;
    right: 7.5%;
}





/* CHECKBOX */

.is-read input {
    font-size: 20px;
}